<!DOCTYPE html>
<html>
    <head>
        <title>Postal Rate Calculator</title>
    </head>
    <body>
        <h1>Postal Rate Calculator Results</h1>
        <h2>Rate:   <%= rate %></h2>
    </body>
</html>